<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Book Directory</title>
</head>

<body>

<div class="container">

    <h3>Book Directory</h3>
    <hr>


    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Book Name</th>
            <th>Available for loan</th>
            <th>Loan to</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each=" tempBook : ${books}">
        <tr th:each=" tempUser : ${users}">

            <td th:text="${tempBook.name}"/>
            <td th:text="${tempBook.copiesAvailable}"/>
            <td><select class="form-control" th:field="${tempUser}" id="">
                <option value="0">select user</option>
                <option th:each=""></option>
            </select>
            </td>
            <td>
                <button type="submit" class="btn btn-info col-7">Accept Loan</button>

            </td>


        </tr>
        </tbody>
    </table>
    <a href="/" class="btn btn-danger" role="button">Cancel</a>

</div>

</body>
</html>



